<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029081691540-ktdkv13kuo022k29l4iase4e18a6mgmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029081691540-ktdkv13kuo022k29l4iase4e18a6mgmg</string>
	<key>API_KEY</key>
	<string>AIzaSyDTtMtaApU7L_5YTMcDKzGJHut6BoppqdE</string>
	<key>GCM_SENDER_ID</key>
	<string>1029081691540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esdcEmg</string>
	<key>PROJECT_ID</key>
	<string>esdc-8d0e2</string>
	<key>STORAGE_BUCKET</key>
	<string>esdc-8d0e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029081691540:ios:620406bd8af42f93d74b81</string>
</dict>
</plist>