<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520585459116-7s57vlu706lbfrbj3imm7p0u9n8iqsak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520585459116-7s57vlu706lbfrbj3imm7p0u9n8iqsak</string>
	<key>API_KEY</key>
	<string>AIzaSyAY4D-paK7a3C_GmEY76q2r5byTwvGlYX8</string>
	<key>GCM_SENDER_ID</key>
	<string>520585459116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esdcEmg</string>
	<key>PROJECT_ID</key>
	<string>myesdc-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>myesdc-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520585459116:ios:bd165c33977c726d5eb609</string>
</dict>
</plist>